@{
}

<div class="jumbotron">
    <h1>MKafeína</h1>
    <p class="lead">Precisa de um MKafé? Aqui é rápido e fácil!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Selecione uma cafeteira.</h3>
        <p> *** Preencher com selecionador de opções para as cafeteiras ativas *** </p>
    </div>
    <div class="col-md-4">
        <h3>Selecione seu pedido.</h3>
        <p> *** Preencher com selecionador de opções para as receitas disponíveis na cafeteira selecionada *** </p>
    </div>
    <div class="col-md-4">
        <h3>Preencha seu e-mail.</h3>
        <p>*** Preencher com campo de input ***</p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Eu quero café!!!</a>
    </div>
    <div class="col-md-4">
    </div>
</div>
