<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="server.name" value="MKafeína" />
    <!-- USP - cabled network - public IP -->
    <!--add key="serverAddress" value="http://143.107.226.186:80" / -->
    <!-- Home network -->
    <!--add key="server.address" value="http://192.168.0.3:80" /-->
    <add key="server.address" value="http://10.42.1.57:80" />
    <add key="server.niceAddress" value="http://www.mkafeina.eesc.usp.br" />

    <!-- EMAIL SENDER *************************************** -->
    <add key="emailSender.user" value="mkafeina@gmail.com" />
    <add key="emailSender.password" value="3uqVer0c4f33!" />
    <add key="emailSender.host" value="smtp.gmail.com" />
    <add key="emailSender.port" value="587" />
    <add key="emailSender.enableSsl" value="true" />
    <add key="emailSender.defaultCredentials" value="false" />
    <add key="emailSender.timeoutMs" value="3000" />

    <!-- WAITRESS ******************************* -->
    <add key="waitress.queueCapacity" value="5" />
    <add key="waitress.minimumSecondsBetweenOrders" value="40" />

    <!-- PANELS *************************************** -->
    <add key="fixedPanelsNames" value="server, configs, commands, log" />

    <!-- SERVER PANEL ******************************* -->
    <add key="server.title" value="STATUS" />
    <add key="server.nLines" value="6" />
    <add key="server.columns" value="2" />
    <add key="server.fixedLines" value="server.address,server.niceAddress,CMProxyHub.selected" />

    <!-- CONFIGS PANEL ******************************* -->
    <add key="configs.title" value="CONFIGURATIONS" />
    <add key="configs.nLines" value="5" />
    <add key="configs.columns" value="3" />
    <add key="configs.fixedLines" value="waitress.queueCapacity,waitress.minimumSecondsBetweenOrders,emailSender.user,minimumLevel" />

    <!-- COMMANDS PANEL ******************************* -->
    <add key="commands.title" value="COMMANDS" />
    <add key="commands.nLines" value="4" />
    <add key="commands.columns" value="3" />
    <add key="commands.fixedLines" value="F4,F5,CMProxyHub.next,CMProxyHub.previous,CMProxyHub.disableSelected" />

    <!-- LOG PANEL ******************************* -->
    <add key="log.title" value="LOG" />
    <add key="log.nLines" value="8" />
    <add key="log.columns" value="2" />
    <add key="log.fixedLines" value="" />

    <!-- COFFEE MACHINE PANEL ******************************* -->
    <add key="cm.title" value=" " />
    <add key="cm.nLines" value="4" />
    <add key="cm.columns" value="3" />
    <add key="cm.fixedLines" value="Water, Coffee, Sugar, Milk, enabled, makingCoffee, recipes" />

    <!-- COOK BOOK *************************************** -->
    <add key="recipes" value="Expresso, Double, Aguado, CafeComLeite" />
    <add key="ingredients" value="Coffee, Water, Sugar, Milk" />
    <add key="Coffee.minimumLevel" value="10" />
    <add key="Water.minimumLevel" value="10" />
    <add key="Sugar.minimumLevel" value="10" />
    <add key="Milk.minimumLevel" value="10" />

    <add key="Expresso.Coffee" value="5" />
    <add key="Expresso.Water" value="50" />

    <add key="Double.Coffee" value="10" />
    <add key="Double.Water" value="50" />

    <add key="Aguado.Coffee" value="5" />
    <add key="Aguado.Water" value="150" />

    <add key="CafeComLeite.Coffee" value="5" />
    <add key="CafeComLeite.Water" value="50" />
    <add key="CafeComLeite.Milk" value="50" />
    
    
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
