<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="simulatorTitle" value="COFFEE MACHINE SIMULATOR" />
    <!-- <add key="simulatorIp" value="192.168.0.106" /> -->
    <add key="simulatorIp" value="10.42.14.243" />
    <add key="simulatorPort" value="8082" />
    <add key="logPanelTitle" value="SIMULATOR LOG" />
    <add key="maxLogMessages" value="25" />
    <add key="increment" value="5" />
    <add key="ingredientAdditionBaseDelayMs" value="600" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>