<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="serverIp" value="www.mkafeina.eesc.usp.br" />
    <add key="serverIp" value="10.42.14.243" />
    <add key="serverPort" value="8081" />
    <add key="registrationTimeout" value="5000" />
    <add key="registrationWaitAfterFailedAttemptMs" value="4000" />
    <add key="registrationWaitAfterSuccessfulAttemptMs" value="10000" />
    <add key="registrationManagerSleepMs" value="3000" />
    <add key="maxTimeElapsedBetweenReceivedRequestsMs" value="10000" />

    <add key="simulatorUniqueName" value="COFFEE MACHINE SIMULATOR" />
    <add key="simulatorIp" value="143.107.226.186" />
    <add key="simulatorPort" value="8082" />

    <add key="statusPanelWidth" value="fullWindow" />
    <add key="statusPanelHight" value="7" />
    <add key="statusPanelColumns" value="2" />

    <add key="configsPanelTitle" value="CONFIGURATIONS" />
    <add key="configsPanelWidth" value="fullWindow" />
    <add key="configsPanelHight" value="5" />
    <add key="configsPanelColumns" value="3" />
    
    <add key="commandsPanelTitle" value="COMMANDS" />
    <add key="commandsPanelWidth" value="fullWindow" />
    <add key="commandsPanelHight" value="5" />
    <add key="commandsPanelColumns" value="3" />

    <add key="logPanelTitle" value="SIMULATOR LOG" />
    <add key="maxLogMessages" value="25" />
    <add key="logPanelWidth" value="fullWindow" />
    <add key="logPanelHight" value="20" />
    <add key="logPanelColumns" value="2" />

    <add key="ingredientKeyboardIncrement" value="5" />
    <add key="ingredientAdditionDelayMs" value="600" />

    <add key="recipes" value="expresso, doubleExpresso" />
    <add key="ingredients" value="c, w" />

    <add key="expresso.c" value="5" />
    <add key="expresso.w" value="50" />

    <add key="doubleExpresso.c" value="10" />
    <add key="doubleExpresso.w" value="50" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>