<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- SERVER CONFIGS *************************************** -->
    <!-- internet address -->
    <add key="server.ip" value="www.mkafeina.eesc.usp.br" />
    <!-- usp - cabled network - public ip -->
    <!--add key="server.ip" value="143.107.226.186"/-->
    <!-- home network ip -->
    <add key="server.address" value="192.168.0.3" />
    <add key="standardTimeout" value="7000" />
    
    <!-- SIMULATOR CONFIGS *************************************** -->
    <add key="simulator.uniqueName" value="COFFEE MACHINE SIMULATOR" />
    <add key="simulator.ip" value="192.168.0.101" />
    <add key="simulator.port" value="8082" />
    <add key="simulator.defaultIngredientAdditionDelayMs" value="100" />

    <!-- PANELS CONFIGS *************************************** -->
    <add key="panelsNames" value="status, configs, commands, log" />

    <!-- STATUS PANEL CONFIGS ******************************* -->
    <add key="status.title" value="STATUS" />
    <add key="status.width" value="fullWindow" />
    <add key="status.height" value="6" />
    <add key="status.columns" value="2" />
    <add key="status.lines" value="ip, port, uniqueName, registration, isMakingCofee, coffeeLevel, waterLevel, selectedIngredient, selectedRecipe" />

    <!-- CONFIGS PANEL CONFIGS ******************************* -->
    <add key="configs.title" value="CONFIGURATIONS" />
    <add key="configs.width" value="fullWindow" />
    <add key="configs.height" value="5" />
    <add key="configs.columns" value="3" />
    <add key="configs.lines" value="ingredient.additionDelay, registration.requestTimeout, registration.waitAfterFailedAttempt, registration.waitAfterSuccessfulAttempt" />

    <!-- COMMANDS PANEL CONFIGS ******************************* -->
    <add key="commands.title" value="COMMANDS" />
    <add key="commands.width" value="fullWindow" />
    <add key="commands.height" value="5" />
    <add key="commands.columns" value="3" />
    <add key="commands.lines" value="tab, shiftTab, enter, left, right, up, down, F5, lt, gt" />

    <!-- LOG PANEL CONFIGS ******************************* -->
    <add key="log.title" value="SIMULATOR LOG" />
    <add key="log.width" value="fullWindow" />
    <add key="log.height" value="15" />
    <add key="log.columns" value="1" />
    <add key="log.lines" value="" />

    <!-- REGISTRATION CONFIGS *************************************** -->
    <add key="registration.route" value="api/coffeemachine/registration" />
    <add key="registration.timeout" value="5000" />
    <add key="registration.waitAfterFailedAttemptMs" value="4000" />
    <add key="registration.waitAfterSuccessfulAttemptMs" value="10000" />

    <!-- REPORT CONFIGS *************************************** -->
    <add key="report.route" value="api/coffeemachine/report" />
    <add key="report.timeout" value="1000" />

    <!-- ORDER CONFIGS *************************************** -->
    <add key="order.route" value="api/coffeemachine/order" />
    <add key="order.timeout" value="1000" />

    <!-- COOK BOOK *************************************** -->
    <add key="recipes" value="expresso, double, aguado" />
    <add key="ingredients" value="c, w" />

    <add key="expresso.c" value="5" />
    <add key="expresso.w" value="50" />

    <add key="double.c" value="10" />
    <add key="double.w" value="50" />

    <add key="aguado.c" value="5" />
    <add key="aguado.w" value="150" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.1" newVersion="4.1.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>