@{
    Layout = "Layout.cshtml";
    ViewBag.Title = "MKafeína";
}

<div class="jumbotron">
    <h1>MKafeína</h1>
    <p class="lead">Peça de mkafé online! É rápido, fácil e indolor.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Selecione a cafeteira mais próxima de você.</h3>
        <p>
            ...
        </p>
    </div>
    <div class="col-md-4">
        <h3>Selecione o seu pedido.</h3>
        <p>...</p>
    </div>
    <div class="col-md-4">
        <h3>Digite seu e-mail (você receberá uma notificação quando o café estiver pronto)</h3>
        <p>Email:
            <input type='text' value='@Model.Email'></input></p>
    </div>
</div>

<div class="row">
    <h3>Pressione aqui para enviar o pedido...</h3>
</div>